# Importing Libraries

In [1]:
#Import libraries 
import pandas as pd 
import numpy as np 
import os

# Importing Data

In [2]:
#Creating a path 
path = r'/Users/scarlettgrim/Python Projects/01-2024 Instacart Basket Analysis'

In [15]:
#importing orders_products_combined.pkl 
df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [16]:
#importing products_checked.csv
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# Checking imported data matches last export

In [17]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
#deleting unnamed column 
df_prods.drop(columns = ['Unnamed: 0'], inplace = True)

In [9]:
#checking deleted column 
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

# Checking shape

In [18]:
df_orders_products_combined.shape

(32434489, 10)

In [21]:
#merging orders_products_combined and df_prods on product_id
df_merged_large = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [22]:
# I think this isn't working beacause the _merge column exists 
# I am going to drop the _merge columh from df_orders_products_combined
# and try the merge again

In [23]:
#dropping _merge from df_orders_products_combined
df_orders_products_combined.drop(columns = ['_merge'], inplace = True)

In [24]:
#checkign _merge was dropped 
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [25]:
#trying the merge of df_orders_products_combined and df_prods again 
df_merged_large = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

# Checking merge flag

In [26]:
#checking for a full match 
df_merged_large['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Export to pickle

In [27]:
#exporting df_merged_large as pkl 
df_merged_large.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merge.pkl'))