# Importing libraries

In [1]:
#Import libraries 
import pandas as pd 
import numpy as np 
import os

# Importing Data

In [2]:
#create a path 
path = r'/Users/scarlettgrim/Python Projects/01-2024 Instacart Basket Analysis'

In [3]:
#importing ords_prods_merged_derived.pkl
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merged_derived.pkl'))

# Creating a subset

In [4]:

df = df_ords_prods_merge [:1000000]

In [5]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,two_busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders

# Grouping Data with Pandas

In [6]:
#subset groupby product_name 
df.groupby('product_name')

# Aggregating data

In [7]:
#grouping by department_id and showing mean order_number 
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [8]:
#multiple aggreagtions 
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

# Aggregating data with transform ( )

In [9]:
#creating max_order column -> grouping user_id by order number and returning maximum
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
#checking output 
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,two_busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,10

In [11]:
#removing limitations for head() function 
pd.options.display.max_rows = None

In [12]:
#viewing first 100 rows 
df_ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,two_busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Average orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,24
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Busiest day,Busiest day,Most Orders,24
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,7
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,7
58,1889835,82,1,3,15,NaN,196,6,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,19
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,19
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Busiest day,Busiest day,Most Orders,19
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,19
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,19
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,19
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,19
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,19
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,19
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,both,Mid-rangeproduct,Busiest day,Busiest day,Most Orders,14
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,14
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,14
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,14
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,14
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,14
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,14
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,6
75,520620,120,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,3
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,3
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,6
78,2040988,195,1,1,14,NaN,196,2,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,58
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,58
80,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,58
81,2744976,195,22,5,10,7.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,58
82,2781919,195,25,1,14,4.0,196,1,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,58
83,1738718,195,31,2,8,4.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,58
84,3058369,195,34,3,10,6.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,58
85,1485596,195,37,2,15,0.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,58
86,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,58
87,1615297,195,47,5,10,2.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,58
88,1765587,195,52,3,12,2.0,196,3,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,58
89,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,58
90,2505656,222,17,2,12,1.0,196,2,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,70
91,3268370,222,38,5,15,1.0,196,6,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,70
92,2016711,290,9,5,19,6.0,196,8,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,51
93,2706088,290,28,6,10,7.0,196,16,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,51
94,1952286,331,6,5,16,30.0,196,8,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,8
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Average orders,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,22

# Deriving new columns with loc ( )

# Loyalty flag

In [13]:
#loyalty flag 
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [14]:
#loyalty flag
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Reglar customer'

In [15]:
#loyalty flag 
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [16]:
# value counts 
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Reglar customer    15876776
Loyal customer     10284093
New customer        6243990
Name: count, dtype: int64

In [17]:
#checking data 
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id     loyalty_flag  order_number
0         1     New customer             1
1         1     New customer             2
2         1     New customer             3
3         1     New customer             4
4         1     New customer             5
5         1     New customer             6
6         1     New customer             7
7         1     New customer             8
8         1     New customer             9
9         1     New customer            10
10       15  Reglar customer            15
11       15  Reglar customer            17
12       15  Reglar customer            18
13       15  Reglar customer            21
14       15  Reglar customer            22
15       19     New customer             2
16       19     New customer             5
17       19     New customer             7
18       21  Reglar customer            10
19       31  Reglar customer            10
20       31  Reglar customer            17
21       43  Reglar customer             6
22       43  Reglar customer             9
23       52  Reglar customer             1
24       52  Reglar customer             2
25       52  Reglar customer             3
26       52  Reglar customer             5
27       52  Reglar customer             7
28       52  Reglar customer             9
29       52  Reglar customer            10
30       52  Reglar customer            11
31       52  Reglar customer            12
32       52  Reglar customer            15
33       52  Reglar customer            17
34       52  Reglar customer            18
35       52  Reglar customer            19
36       52  Reglar customer            21
37       67  Reglar customer             1
38       67  Reglar customer             2
39       67  Reglar customer             3
40       67  Reglar customer             4
41       67  Reglar customer             5
42       67  Reglar customer             6
43       67  Reglar customer             8
44       67  Reglar customer             9
45       67  Reglar customer            10
46       67  Reglar customer            11
47       67  Reglar customer            12
48       67  Reglar customer            13
49       67  Reglar customer            14
50       67  Reglar customer            16
51       67  Reglar customer            18
52       67  Reglar customer            19
53       67  Reglar customer            21
54       67  Reglar customer            22
55       67  Reglar customer            23
56       81     New customer             3
57       81     New customer             5
58       82  Reglar customer             1
59       82  Reglar customer             3

# Task 4.8

# aggregate mean for order_number grouped by department_id

In [18]:
#grouping by department_id and showing mean order_number 
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# How is the aggregation of order_number mean by department_id different for the subset compared to the entire data set

In [19]:
# The subset does not contain all the department numbers. 
# The subset only has 8 out of 21 total departments. Additionally the 
# means are slightly different in the total data set because it factors
# in all of the data. The lack of data in the subset changes what 
# department has the highest amount of orders so you get the full 
# picture when you use the entire data set.

In [20]:
#loyalty flag already created

# Do prices of products purchase differ based on loyalty status

In [21]:
#multiple aggreagtions 
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min      max
loyalty_flag
Loyal customer   10.386336  1.0  99999.0
New customer     13.294670  1.0  99999.0
Reglar customer  12.495717  1.0  99999.0

In [22]:
# It seems there is a difference in spending based on loyalty status
# new customers spend the most and loyal customers spend the least.

# Spending flag

In [23]:
#creating max_order column -> grouping user_id by prices and returning mean
df_ords_prods_merge['avg_spend'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
#checking output
df_ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,two_busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spend
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,22,Reglar customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,22,Reglar customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,22,Reglar customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,22,Reglar customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,22,Reglar customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,33,Reglar customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,20,Reglar customer,8.137793
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,20,Reglar customer,8.137793
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,11,Reglar customer,7.444898
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,11,Reglar customer,7.444898
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27,Reglar customer,6.356287
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27,Reglar customer,6.356287
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27,Reglar customer,6.356287
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27,Reglar customer,6.356287
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,27,Reglar customer,6.356287
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27,Reglar customer,6.356287
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27,Reglar customer,6.356287
30,2542086,52,11,2,9,7.0,196,3,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27,Reglar customer,6.356287
31,944694,52,12,1,16,6.0,196,7,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,27,Reglar customer,6.356287
32,1268191,52,15,2,11,8.0,196,3,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27,Reglar customer,6.356287
33,1122089,52,17,2,10,6.0,196,4,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27,Reglar customer,6.356287
34,1498922,52,18,2,10,14.0,196,6,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27,Reglar customer,6.356287
35,180919,52,19,3,8,8.0,196,4,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,27,Reglar customer,6.356287
36,2695875,52,21,5,10,30.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,27,Reglar customer,6.356287
37,3205960,67,1,3,11,NaN,196,1,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,24,Reglar customer,7.656790
38,970922,67,2,1,15,5.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
39,596585,67,3,1,13,7.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
40,2037087,67,4,2,9,8.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24,Reglar customer,7.656790
41,2474111,67,5,3,14,8.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,24,Reglar customer,7.656790
42,1568481,67,6,3,12,7.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,24,Reglar customer,7.656790
43,2048527,67,8,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24,Reglar customer,7.656790
44,2389031,67,9,2,14,7.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24,Reglar customer,7.656790
45,2378562,67,10,1,10,6.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
46,1515698,67,11,1,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
47,1928050,67,12,2,12,8.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24,Reglar customer,7.656790
48,1949274,67,13,1,10,6.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
49,551869,67,14,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
50,768572,67,16,4,10,9.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,24,Reglar customer,7.656790
51,150528,67,18,5,16,4.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,24,Reglar customer,7.656790
52,29758,67,19,0,14,9.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Busiest day,Busiest day,Most Orders,24,Reglar customer,7.656790
53,1558976,67,21,1,9,5.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
54,863974,67,22,1,11,14.0,196,3,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
55,2308399,67,23,1,14,14.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,24,Reglar customer,7.656790
56,2759128,81,3,1,9,14.0,196,2,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,7,New customer,8.165385
57,1812985,81,5,2,20,30.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,7,New customer,8.165385
58,1889835,82,1,3,15,NaN,196,6,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,19,Reglar customer,6.441221
59,499460,82,3,5,10,5.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,19,Reglar customer,6.441221
60,2728456,82,4,0,11,16.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Busiest day,Busiest day,Most Orders,19,Reglar customer,6.441221
61,2653743,82,6,4,9,13.0,196,5,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,19,Reglar customer,6.441221
62,1358880,82,9,1,10,30.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,19,Reglar customer,6.441221
63,343588,82,10,2,11,1.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,19,Reglar customer,6.441221
64,3034663,82,15,2,11,12.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,19,Reglar customer,6.441221
65,147262,82,18,1,13,7.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,19,Reglar customer,6.441221
66,3144004,82,19,2,15,8.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,19,Reglar customer,6.441221
67,2126069,98,3,0,9,25.0,196,7,0,Soda,...,7,9.0,both,Mid-rangeproduct,Busiest day,Busiest day,Most Orders,14,Reglar customer,8.028000
68,2210120,98,7,5,14,5.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,14,Reglar customer,8.028000
69,681011,98,9,3,9,30.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,14,Reglar customer,8.028000
70,2846344,98,11,4,13,15.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,14,Reglar customer,8.028000
71,747431,98,12,6,13,30.0,196,4,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,14,Reglar customer,8.028000
72,2383054,98,13,4,11,30.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,14,Reglar customer,8.028000
73,1993729,98,14,5,8,8.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,14,Reglar customer,8.028000
74,1403849,109,3,3,17,9.0,196,5,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,6,New customer,5.850725
75,520620,120,1,3,11,NaN,196,2,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,3,New customer,9.385714
76,3273029,120,3,2,8,19.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,3,New customer,9.385714
77,1861943,185,2,1,12,25.0,196,10,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,6,New customer,7.715000
78,2040988,195,1,1,14,NaN,196,2,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,58,Loyal customer,7.149730
79,1680569,195,8,1,9,4.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,58,Loyal customer,7.149730
80,276171,195,19,5,11,3.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,58,Loyal customer,7.149730
81,2744976,195,22,5,10,7.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,58,Loyal customer,7.149730
82,2781919,195,25,1,14,4.0,196,1,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Most Orders,58,Loyal customer,7.149730
83,1738718,195,31,2,8,4.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,58,Loyal customer,7.149730
84,3058369,195,34,3,10,6.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,58,Loyal customer,7.149730
85,1485596,195,37,2,15,0.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,58,Loyal customer,7.149730
86,417035,195,40,3,16,2.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,58,Loyal customer,7.149730
87,1615297,195,47,5,10,2.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,58,Loyal customer,7.149730
88,1765587,195,52,3,12,2.0,196,3,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Most Orders,58,Loyal customer,7.149730
89,745908,195,57,4,11,3.0,196,3,1,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,58,Loyal customer,7.149730
90,2505656,222,17,2,12,1.0,196,2,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,70,Loyal customer,6.862397
91,3268370,222,38,5,15,1.0,196,6,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,70,Loyal customer,6.862397
92,2016711,290,9,5,19,6.0,196,8,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,51,Loyal customer,7.285597
93,2706088,290,28,6,10,7.0,196,16,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,51,Loyal customer,7.285597
94,1952286,331,6,5,16,30.0,196,8,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,8,New customer,7.705128
95,3226575,360,1,5,12,NaN,196,1,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Most Orders,3,New customer,10.006250
96,1469869,377,3,5,17,3.0,196,9,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Regularly busy,Average orders,3,New customer,8.496552
97,1927023,387,2,4,10,22.0,196,3,0,Soda,...,7,9.0,both,Mid-rangeproduct,Least busy,Least busy,Most Orders,8,New customer,7.396610
98,858092,420,4,1,19,30.0,196,2,0,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Busiest day,Average orders,22,Reglar customer,7.387805
99,119314,420,5,3,19,16.0,196,2,1,Soda,...,7,9.0,both,Mid-rangeproduct,Regularly busy,Least busy,Average orders,22,Reglar customer,7.387805

In [25]:
#spending flag 
df_ords_prods_merge.loc[df_ords_prods_merge['avg_spend'] >= 10, 'spending_flag'] = 'High Spender'

In [26]:
#spending flag 
df_ords_prods_merge.loc[df_ords_prods_merge['avg_spend'] < 10, 'spending_flag'] = 'Low Spender'

In [27]:
# value counts 
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low Spender     31770614
High Spender      634245
Name: count, dtype: int64

In [28]:
#checking data 
df_ords_prods_merge[['user_id', 'spending_flag', 'avg_spend']].head(60)

    user_id spending_flag  avg_spend
0         1   Low Spender   6.367797
1         1   Low Spender   6.367797
2         1   Low Spender   6.367797
3         1   Low Spender   6.367797
4         1   Low Spender   6.367797
5         1   Low Spender   6.367797
6         1   Low Spender   6.367797
7         1   Low Spender   6.367797
8         1   Low Spender   6.367797
9         1   Low Spender   6.367797
10       15   Low Spender   3.980556
11       15   Low Spender   3.980556
12       15   Low Spender   3.980556
13       15   Low Spender   3.980556
14       15   Low Spender   3.980556
15       19   Low Spender   8.372059
16       19   Low Spender   8.372059
17       19   Low Spender   8.372059
18       21   Low Spender   7.012683
19       31   Low Spender   8.137793
20       31   Low Spender   8.137793
21       43   Low Spender   7.444898
22       43   Low Spender   7.444898
23       52   Low Spender   6.356287
24       52   Low Spender   6.356287
25       52   Low Spender   6.356287
26       52   Low Spender   6.356287
27       52   Low Spender   6.356287
28       52   Low Spender   6.356287
29       52   Low Spender   6.356287
30       52   Low Spender   6.356287
31       52   Low Spender   6.356287
32       52   Low Spender   6.356287
33       52   Low Spender   6.356287
34       52   Low Spender   6.356287
35       52   Low Spender   6.356287
36       52   Low Spender   6.356287
37       67   Low Spender   7.656790
38       67   Low Spender   7.656790
39       67   Low Spender   7.656790
40       67   Low Spender   7.656790
41       67   Low Spender   7.656790
42       67   Low Spender   7.656790
43       67   Low Spender   7.656790
44       67   Low Spender   7.656790
45       67   Low Spender   7.656790
46       67   Low Spender   7.656790
47       67   Low Spender   7.656790
48       67   Low Spender   7.656790
49       67   Low Spender   7.656790
50       67   Low Spender   7.656790
51       67   Low Spender   7.656790
52       67   Low Spender   7.656790
53       67   Low Spender   7.656790
54       67   Low Spender   7.656790
55       67   Low Spender   7.656790
56       81   Low Spender   8.165385
57       81   Low Spender   8.165385
58       82   Low Spender   6.441221
59       82   Low Spender   6.441221

# Frequency flag

In [29]:
#creating med_days_since_last_order column -> grouping user_id by days_from_last_order and returning median 
df_ords_prods_merge['med_days_since_last_order'] = df_ords_prods_merge.groupby(['user_id'])['days_from_last_order'].transform(np.median)

In [30]:
#Frequency flag 
df_ords_prods_merge.loc[df_ords_prods_merge['med_days_since_last_order'] > 20, 'Frequency_flag'] = 'Non-Frequent Customer'

In [31]:
#Frequency flag
df_ords_prods_merge.loc[(df_ords_prods_merge['med_days_since_last_order'] <= 20) & (df_ords_prods_merge['med_days_since_last_order'] > 10), 'Frequency_flag'] = 'Reglar customer'

In [32]:
#Frequency flag 
df_ords_prods_merge.loc[df_ords_prods_merge['med_days_since_last_order'] <= 10, 'Frequency_flag'] = 'Frequent customer'

In [33]:
# value counts 
df_ords_prods_merge['Frequency_flag'].value_counts(dropna = False)

Frequency_flag
Frequent customer        21559853
Reglar customer           7208564
Non-Frequent Customer     3636437
NaN                             5
Name: count, dtype: int64

In [34]:
#checking data 
df_ords_prods_merge[['user_id', 'Frequency_flag', 'med_days_since_last_order']].head(60)

    user_id         Frequency_flag  med_days_since_last_order
0         1  Non-Frequent Customer                       20.5
1         1  Non-Frequent Customer                       20.5
2         1  Non-Frequent Customer                       20.5
3         1  Non-Frequent Customer                       20.5
4         1  Non-Frequent Customer                       20.5
5         1  Non-Frequent Customer                       20.5
6         1  Non-Frequent Customer                       20.5
7         1  Non-Frequent Customer                       20.5
8         1  Non-Frequent Customer                       20.5
9         1  Non-Frequent Customer                       20.5
10       15      Frequent customer                       10.0
11       15      Frequent customer                       10.0
12       15      Frequent customer                       10.0
13       15      Frequent customer                       10.0
14       15      Frequent customer                       10.0
15       19      Frequent customer                        6.0
16       19      Frequent customer                        6.0
17       19      Frequent customer                        6.0
18       21      Frequent customer                        7.5
19       31      Frequent customer                        6.0
20       31      Frequent customer                        6.0
21       43      Frequent customer                       10.0
22       43      Frequent customer                       10.0
23       52      Frequent customer                        8.0
24       52      Frequent customer                        8.0
25       52      Frequent customer                        8.0
26       52      Frequent customer                        8.0
27       52      Frequent customer                        8.0
28       52      Frequent customer                        8.0
29       52      Frequent customer                        8.0
30       52      Frequent customer                        8.0
31       52      Frequent customer                        8.0
32       52      Frequent customer                        8.0
33       52      Frequent customer                        8.0
34       52      Frequent customer                        8.0
35       52      Frequent customer                        8.0
36       52      Frequent customer                        8.0
37       67      Frequent customer                        7.0
38       67      Frequent customer                        7.0
39       67      Frequent customer                        7.0
40       67      Frequent customer                        7.0
41       67      Frequent customer                        7.0
42       67      Frequent customer                        7.0
43       67      Frequent customer                        7.0
44       67      Frequent customer                        7.0
45       67      Frequent customer                        7.0
46       67      Frequent customer                        7.0
47       67      Frequent customer                        7.0
48       67      Frequent customer                        7.0
49       67      Frequent customer                        7.0
50       67      Frequent customer                        7.0
51       67      Frequent customer                        7.0
52       67      Frequent customer                        7.0
53       67      Frequent customer                        7.0
54       67      Frequent customer                        7.0
55       67      Frequent customer                        7.0
56       81  Non-Frequent Customer                       30.0
57       81  Non-Frequent Customer                       30.0
58       82        Reglar customer                       11.5
59       82        Reglar customer                       11.5

In [35]:
#exporting df_ords_prods_merge as pkl 
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merged_flagged.pkl'))